@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>viewPRSimple_Header</title>
</head>
<body>
    <div>
        <img src="~/Images/logo.png" width="50%" height="50%"/>
    </div>
</body>
</html>
